*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: paradise;
    color: rgb(24, 24, 24);
    background-color: rgb(245, 245, 237);
}

@font-face{
    font-family: 'paradise';
    src: url(../font/BirdsofParadise.ttf);
}

header{
    display: flex;
    background-color: beige;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 15px 25px 15px 25px;
    height: 75px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.361);
    position: sticky;
    top: 20px;
    z-index: 5;
    flex-wrap: wrap;
}

#logo{
    font-size: 42px;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#logo a{
    text-decoration: none;
    background-color: rgba(240, 248, 255, 0);
}

#logo a:hover{
    color: rgb(126, 126, 126);
}

#navMenu{
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#navMenu ul{
    list-style: none;
    display: flex;
    gap: 30px;
    background-color: beige;
    margin-right: 30px;
    flex-wrap: wrap;
}

#navMenu ul li a{
    background-color: beige;
    text-decoration: none;
    font-size: 22px;
}

#navMenu ul li a:hover{
    color: rgb(126, 126, 126);
}

#homePage{
    display: flex;
    flex-direction: column;
}

#homePageTop{
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.196);
    max-height: 1000px;
}

#homePageTop img{
    position: relative;
    z-index: 0;
    width: 100%;
    object-fit: cover;
}

#homePageTop div{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.34);
    position: relative;
    z-index: 1;
    right: 200px;
    top: 60px;
    padding: 10px 10px 10px 30px;
    gap: 5px;
    border: 0px solid;
    border-radius: 5%;
    height: 100%;
    width: 100%;
}

#homePageTop div h2{
    margin-bottom: 5px;
    color: rgb(255, 252, 246);
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
}

#homePageTop div p{
    color: rgb(255, 252, 246);
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
}

#homePageMid{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgResidence{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgResidence img{
    width: 50%;
    border: 0px solid;
    border-radius: 50%;
}

#imgResidenceText{
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    width: 38%;
}

#imgResidenceText p{
    text-align: center;
    font-size: 24px;
}

#imgResidenceLink{
    text-decoration: none;
}

#imgResidenceContact{
    background-color: rgb(255, 118, 69);
    padding: 10px 30px;
}

#imgResidenceContact:hover{
    background-color: rgb(252, 172, 143);
}

#imgResidenceContact p{
    font-size: 30px;
    background-color: rgba(255, 119, 69, 0);
}

#homePageEnd{
    display: grid;
    margin-top: 170px;
    background-color: beige;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.196);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(200px, 100px, 200px, 100px, 200px, 100px);
    padding: 75px 50px 75px 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#reviewOne{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    margin-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.039);
}

#reviewOne p{
    background-color: rgba(245, 245, 220, 0);
}

#reviewTwo{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    margin-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.039);
}

#reviewTwo p{
    background-color: rgba(245, 245, 220, 0);
}

#reviewThree{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    margin-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.039);
}

#reviewThree p{
    background-color: rgba(245, 245, 220, 0);
}

#reviewOneImg{
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 25%;
    background-color: rgba(245, 245, 220, 0);
}

#reviewOneImg img{
    width: 100%;
    height: 100%;
    border: 0px solid;
    border-radius: 50%;

}

#reviewTwoImg{
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 25%;
    background-color: rgba(245, 245, 220, 0);
}

#reviewTwoImg img{
    width: 100%;
    height: 100%;
    border: 0px solid;
    border-radius: 50%;
}

#reviewThreeImg{
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 25%;
    background-color: rgba(245, 245, 220, 0);
}

#reviewThreeImg img{
    width: 100%;
    height: 100%;
    border: 0px solid;
    border-radius: 50%;
    object-fit: cover;
}

#winkyDinky{
    display: flex;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: flex-end;
    background-color: rgba(240, 248, 255, 0);
}

#winkyDinky a{
    text-decoration: none;
}

#winkyDinky a:hover{
    color: rgb(184, 84, 104);
    text-shadow: 
    /* White glow */
    0 0 7px #b61919,
    0 0 10px #b51212,
    0 0 21px #b01313,
    /* Red glow */
    0 0 42px rgba(186, 50, 66, 0.5),
    0 0 82px rgba(186, 50, 66, 0.6),
    0 0 92px rgba(186, 50, 66, 0.7),
    0 0 102px rgba(186, 50, 66, 0.8),
    0 0 151px rgba(186, 50, 66, 0.9);
}

#winkyDinky a p{
    background-color: rgba(240, 248, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nosotrosImgGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    margin: 50px 20px 50px 20px;
    row-gap: 30px;
}

#nosotrosImgOne img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid;
}

#nosotrosImgTwo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid;
}

#nosotrosImgThree img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid;
}

#nosotrosImgFour img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid;
}

#nosotrosText{
    display: flex;
    margin: 10px 50px 30px 50px;
    flex-direction: column;
}

#nosotrosText p{
    font-size: 24px;
}

#signature{
    text-align: right;
}

#nosotrosImg{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

#contactoTitle{
    display: flex;
    margin-top: 50px;
    position: relative;
    left: 20%;
    font-size: 28px;
    width: 56px;
}

#contactoForm{
    display: flex;
    margin-top: 50px;
    position: relative;
    width: 50%;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
}

#contactoForm form{
    font-size: 24px;
}

#contactoForm form input{
    font-size: 20px;
    background-color: white;
    width: 100%;
}

#contactoForm form select{
    font-size: 20px;
    width: 100%;
    background-color: white;
}

#contactoForm form textarea{
    font-size: 20px;
    background-color: white;
    width: 100%;
}

#mapa{
    display: flex;
    width: 400px;
    height: 200px;
    margin-top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

#mapa iframe{
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 650px) {
    #homePageTop div{
        right: 350px;
        top: 90px;
    }

    #homePageTop div h2{
        font-size: 32px;
    }

    #homePageTop div p{
        font-size: 22px;
    }

    #homePageEnd{
        grid-template-columns: 200px 500px;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 75px;
        row-gap: 100px;
    }

    #nosotrosImgGrid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
        column-gap: 50px;
        row-gap: 30px;
        margin-bottom: 100px;
    }
    
}

@media screen and (min-width: 1024px) {
    #homePageTop div{
        right: 600px;
        top: 230px;
    }

    #homePageTop div h2{
        font-size: 32px;
    }

    #homePageTop div p{
        font-size: 22px;
        width: 300px;
    }

    #nosotrosImgGrid{
        grid-template-rows: repeat(2, 400px);
    }

    #contactoForm{
        display: flex;
        margin-top: 50px;
        position: relative;
        width: 50%;
        justify-content: left;
        margin-left: 20%;
    }

    #mapa{
        width: 600px;
        height: 500px;
        position: absolute;
        top: 300px;
        left: 50%;
    }
}

@media screen and (min-width: 1600px) {
    #homePageTop div{
        right: 1000px;
        top: 600px;
    }

    #homePageTop div h2{
        font-size: 54px;
    }

    #homePageTop div p{
        font-size: 36px;
        width: 600px;
    }

    #mapa{
        width: 800px;
        height: 700px;
        top: 200px;
        left: 50%;
    }
}